body {
    font-size: 30px;
    padding: 40px;
}


h1 {
    font-size: 3px;
    font-weight: bold;
}

.card{
    padding: 20px;
    display: inline-block;
    background-color: white;
    border: 5px solid black;
    box-shadow: -20px 20px 0px -5px white, -20px 20px black;

}